#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Play;
}
body{
  margin: 0;
  padding: 0px;
  height: 100%;
}
button:focus{
  outline: none;
}
.p{
  font-size: 14px;
}
.div-container{
  width: 100%;
  max-width: 400px;
  height: 100%;
  font-size: 28px;
  margin-bottom: 30px;
}
.page-body{
  margin-top: 10px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 400px;
  background-color: rgb(25, 25, 25);
  padding-bottom: 70px;
}
.input-page-body{
  display: flex;
  grid-template-columns: 1fr;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(25, 25, 25);
}
.small-text-left{
  font-size: 12px;
  text-align: left;
  color: white
}
.button, .select-button{
  border-radius: 4px;
  border: rgb(255, 95, 95) solid 1px;
  font-size: 16px;
  height: 55px;
  width: 100px;
  padding: 8px;
}
.button:hover{
  background-color: rgb(255, 95, 95);
  color: white;
}
.button{
  background-color: rgb(25, 25, 25);
  color: rgb(255, 95, 95);
}
.select-button{
  background-color: rgb(255, 95, 95);
  color: white;
}
.gray-button{
  font-size: 12px;
  border: solid 1px rgb(120, 120, 120);
  background-color: rgb(120, 120, 120);
  border-radius: 6px; 
  color: white;
  width: auto; 
}
.center-div{
  display: flex;
  justify-content: center;
}
.flexbox-row{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.flexbox-column{
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.center-grid{
  width: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
}
.wrap-grid{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.wrap-grid > button {
  width: 20%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 8px;
  color: white;
  height: 35px;
  font-size: 12px;
}
.navigate-button{
  color: white;
  font-size: 12px;
  width: 100px;
  height: 30px;
  background-color:rgb(25, 25, 25);
  border-radius: 15px;
  border: rgb(120, 120, 120) solid 1px;
}
#navigate-select{
  background-color: rgb(255, 95, 95);
  border: rgb(255, 95, 95) solid 1px;
}
.icon {
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
}
.shadow-header{
  width: 100%;
  max-width: 400px;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  height: 200px;
  background-color: rgb(25, 25, 25);
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 1); 
}

--> INPUT PAGES 

.button-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.input-button, .input-button-select{
  flex-grow: 1;
  font-size: 20px;
  min-height: 55px;
  min-width: 55px;
  border-color: rgb(255, 94, 94);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  color: white; 
  margin: 6px;
  max-width: 120px;
  line-height: 20px;
}
#movement-button{
  height: 70px;
  max-width: 47%;
}
.button-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.input-button-select{
  background-color: rgb(255, 94, 94);
}
.input-button{
  background-color: rgb(25, 25, 25);
}
.input-button:hover, .input-button:hover{
  background-color: rgb(255, 94, 94);
}

.slant-button-grid{
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(20px, 1fr));
  justify-items: center;
  justify-items: stretch;
  gap: 0; 
  margin-bottom: 10px;
}
.slant-button-grid > button {
  border: 1px solid rgb(255, 95, 95); 
  padding: 0px; 
  box-sizing: border-box;
  transform: skew(-10deg);
  background-color: rgb(25, 25, 25);
  color: white;
  height: 30px;
}
.slant-button-grid > button:hover{
  background-color:rgb(255, 95, 95)
}
#slant-button{
  border: 1px solid rgb(255, 95, 95); 
  padding: 0px; 
  box-sizing: border-box;
  transform: skew(-10deg);
  background-color: rgb(25, 25, 25);
  color: white;
  height: 30px;
  border-radius: 0px;
}
#slant-button:hover{
  background-color:rgb(255, 95, 95);
}
#select-day{
  background-color: rgb(255, 95, 95) !important;
}

.lift-container{
  max-width: 400px;
  width: 100%;
  display: grid;
  align-items: left;
  grid-template-columns: 1fr 8fr;
  font-size: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
}
.lift-container-2{
  display: grid;
  align-items: left;
  grid-template-columns: 1fr 5fr 3fr;
  font-size: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
}
.movement-title{
  color: white;
  background-color:rgb(25, 25, 25);
  border: none;
  width: 100%;
  border: 1px, dotted, rgb(70, 70, 70);
  border-radius: 4px;
}
#sub-dropdown{
  grid-template-columns: 1fr;
  width: 230px;
  position: absolute;
  top: 32px;
  left: 45px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 4;
}
#sub-option{
  font-size: 10px;
  text-align: left;
  height: 35px;
  background-color: rgb(120, 120, 120);
  color: white;
  border-color:rgb(62, 62, 62);
  border-width: 1px;
  z-index: 4;
}
.tag-box{
  display: flex;
}
.tag{
  font-size: 12px;
  border: solid 1px rgb(120, 120, 120);
  background-color: rgb(120, 120, 120);
  border-radius: 6px;
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 6px;
  padding-left: 6px;
}
.expand-button, .close-button{
  padding: 0;
  display: inline-block; 
  font-size: 22px;
  color: white;
  background-color:rgb(25, 25, 25);
  border-style: none;
}
.expand-container{
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.sets-grid{
  margin-left: -30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.sets-grid > div{
  align-items: center;
  text-align: center;
  border-style: solid;
  border-color: rgb(120, 120, 120);
  border-width: 1px;
  height: 100%;
  padding-top: 6px;
}
.image{
  margin-left: 10px;
  width: 50%;
}
.expand-text{
  padding-top: 10px;
  font-size: 14px;
  line-height: 20px;
}
#edit-button-grid{
  width: 150px;
  margin-top: 5px;
}
#edit-button{
  border: 1px solid rgb(255, 95, 95);
  display: inline-block;
  height: 30px;
  font-size: 14px;
}
#edit-line{
  border-top: 1px rgb(120, 120, 120) solid;
  width: 90%;
  display: block;
  color: rgb(25, 25, 25);
  margin-top: -25px;
}

.dropdown-menu{
  background-color: rgb(25, 25, 25);
}
.dropdown-item{
  color: white;
}
.dropdown-item:hover{
  background-color: rgb(62, 62, 62);
  color: white;
}
#submit-footer{
  width: 90%;
  max-width: 400px;
  color: white;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}
#submit-footer:hover{
  background-color: rgb(255, 95, 95);
  width: 90%;
  max-width: 400px;
  position: fixed;
  bottom: 0;
}
 

.button-arr{
  background-color: rgb(25, 25, 25);
  position: fixed;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  height: 40px;
  padding-bottom: 60px
}
.footer-button{
  border-radius: 0px;
  border-color: rgb(255, 95, 95);
  background-color: rgb(25, 25, 25);
  border-left: none;
  border-right: none;
  border-bottom: none;
  height: 20px;
}
.footer-icon{
  border-radius: 2px;
  background-color: rgb(25, 25, 25);
  border-color: rgb(255, 95, 95);
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

#welcome-button{
  width: 200px;
  margin: 4px;
  color: white;
  height: 70px;
  font-size: 20px;
}
#split-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  padding: 10px;
}
#split-header{
  padding-top: 15px;
  height: 25%;
}
#split-entry{
  background-color:rgb(25, 25, 25);
  color: white;
  padding: 0px;
  border-color: rgb(255, 95, 95);
  border-width: 1px;
  border-radius: 4px;
  margin: 4px;
}
#split-entry-select {
  background-color: rgb(255, 84, 84);
  color: white;
  padding: 0px;
  border-style: solid;
  border-color: rgb(255, 95, 95);
  border-width: 1px;
  border-radius: 4px;
  margin: 4px;
}
#split-textbox{
  height: 150px;
  margin-left: 10px;
  line-height: 22px;
  font-size: 14px;
  text-align: left;
}
#day-grid{
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
}
#day-grid-row{
  height: auto;
  display: grid;
  border-bottom: none;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
  border-width: 1px;
  border-style: none;
  border-color: rgb(255, 95, 95);
}
#restricted-button-container{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}

#allowed-button, #restricted-button{
  border-color: rgb(255, 95, 95);
  border-width: 1px;
  border-radius: 4px;
  color: white;
  margin: 0px;
  height: 40px;
  font-size: 16px;
  width: 200px;
  background-color: rgb(25, 25, 25);
}

#allowed-button{
  background-color: rgb(25, 25, 25);
  color: white;
}

#restricted-button{
  color: rgb(255, 95, 95)
}

.error-text{
  color: rgb(255, 95, 95);
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  max-width: 400px;
}
#bottom-text{
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
}

#progress-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 6fr 1fr;
  height: 20px;
  background-color: rgb(25, 25, 25) !important;
  border-radius: 0px;
  margin-bottom: 10px;
  overflow: hidden;
  align-items: center;
  border-color: rgb(255, 95, 95);
  border-style: solid;
  border-width: 1px;
}

#progress-bar {
  height: 100%;
  background-color: var(--progress-color, rgb(255, 84, 84)) !important;
  border-radius: 0px;
}

#progress-button {
  height: 20px;
  background-color: rgb(255, 84, 84);
  color: white;
  border-width: 1px;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-left: solid;
  border-color: rgb(25, 25, 25);
  font-size: 12px;
  margin-left: -5px;
  cursor: pointer; /* Add a cursor pointer for better UX */
}

.slider{
  -webkit-appearance: none; /* Remove default styling */
  width: 100%;
  background-color: rgba(0, 0, 0, 0)
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  width: 10px; /* Set width of the thumb */
  margin-bottom: -5px;
  height: 50px; /* Set height of the thumb */
  background: rgba(0, 0, 0, 0); /* Thumb color */
  border-radius: 0px; /* Make thumb circular */
  cursor: pointer; /* Change cursor on hover */
}

.slider-labels{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin-top: -20px;
  font-size: 16px;
  color: white;
}
.left-label{
  text-align: left;
  width: 100px;
}
.right-label{
  text-align: right;
}

#slider-progress-container {
  z-index: 1;
  margin-top: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  height: 32px;
  background-color: none;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  align-items: center;
  margin-bottom: -30px;
  border-color: rgb(255, 95, 95);
  border-style: solid;
  border-width: 1px;
}

#slider-progress {
  height: 100%;
  background-color: var(--progress-color, rgb(255, 84, 84)) !important;
  border-radius: 0px;
}

#password, #username{
  margin: 4px;
  height: 40px;
  width: 100%;
  display: block;
  border-radius: 4px;
  background-color: rgb(200, 200, 200);
}
#sign-up-btn{
  margin-top: 20px;
}
#routine-info{
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(120, 120, 120);
}
#info-grid{
  display: grid;
  grid-template-columns: 1fr 1fr
}
#info-grid > div{
  margin-top: 25px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  font-size: 12px;
  color: white;
  background-color: none;
}
#routine-icon {
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: auto;
  height: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(120, 120, 120);
}
#select-day-2{
  background-color: rgb(120, 120, 120);
  border: solid rgb(25, 25, 25) 1px;
}

#timer-container, #timer-container-go{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 300px;
}
#timer-container{
  border: solid 4px rgb(255, 95, 95);
}
#timer-container-go{
  border: solid 4px rgb(255, 255, 255);
}
#track-entry{
  display: flex;
  width: 33%;
  margin-left: 6px;
  text-align: center;
  justify-content: center;
}
#default-input, #track-input{
  text-align: center;
  background-color: rgb(25, 25, 25);
  margin-left: 4px;
  margin-right: 4px;
  color: white;
  border: none;
  width: 60px;
  padding-right: 4px;
  padding-left: 4px;
  border: solid 1px white;
  border-radius: 4px;
}
#default-input{
  color: gray;
}
#track-input{
  color: white;
}
#set-info-tag{
  padding: 4px;
  font-size: 14px;
  width: 80%;
  text-align: center;
  white-space: nowrap;
  min-width: 80%;
}
#sub-btn{
  color: white;
  width: 100%;
}
#sub-btn-restrict{
  color: rgb(255, 95, 95);
  width: 100%;
}
#sub-btn-restrict:hover{
  background-color: rgb(25, 25, 25);
}

#log-icon{
  width: 110px;
  height: 26px;
  margin-left: 10px;
  margin-right: 10px;
}
.log-container{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border: solid 1px gray;
  border-radius: 4px;
  margin-bottom: 8px;
  padding-bottom: 10px;
  padding-top: 8px;
}
.log-info{
  font-size: 12px;
  display: flex;
  grid-template-columns: 1fr 1fr;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.log-info-entry{
  width: auto;
  min-width: 30px;
  font-size: 12px;
  margin-left: 3px;
  border: white 1px solid;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#feature-grid{
  width: 100%;
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
#feature-grid > button {
  font-size: 10px;
  color: white;
  margin: 4px;
  width: 23%;
  height: 65px;
  border-radius: 8px;
  padding: 0px
}
